<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home/main">애니타임</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/user/change/password}">비밀번호 변경</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">-->
<!--<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>-->
<!--<script src="https://cdn.tailwindcss.com"></script>-->

<!--<ul class="flex bg-gray-200">-->
<!--    <li class="text-center flex-1">-->
<!--        <a class="text-center block rounded text-black-500 hover:bg-gray-300 py-2 px-4 flex flex-col items-center" href="#">-->
<!--            <i class="fa-solid fa-bars"></i>-->
<!--            <span class="text-xs">Board</span>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li class="text-center flex-1">-->
<!--        <a class="text-center block rounded text-black-500 hover:bg-gray-300 py-2 px-4 flex flex-col items-center" href="#">-->
<!--            <i class="fa-solid fa-house"></i>-->
<!--            <span class="text-xs">Home</span>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li class="text-center flex-1">-->
<!--        <a class="text-center block rounded text-black-500 hover:bg-gray-300 py-2 px-4 flex flex-col items-center" href="#">-->
<!--            <i class="fa-solid fa-user"></i>-->
<!--            <span class="text-xs">My</span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->