<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->
<!--데이지 UI-->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
<!--테일윈드-->
<script src="https://cdn.tailwindcss.com"></script>

<main class="flex-grow flex items-center justify-center">
    <form th:object="${passwordChangeForm}" method="post" class="w-full max-w-md grid grid-cols-1 gap-4">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>


        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">변경할 비밀번호</span>
            </div>
            <input name="password1" th:field="*{password1}" type="password" placeholder="비밀번호" class="input input-bordered w-full"/>
        </label>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">비밀번호 확인</span>
            </div>
            <input name="password2" th:field="*{password2}" type="password" placeholder="비밀번호" class="input input-bordered w-full"/>
        </label>

        <input type="submit" value="저장하기" class="btn bg-black text-white w-full">
        <div>
            <a href="/home/main" class="btn bg-gray-400 text-white w-full">돌아가기</a>
        </div>
    </form>

</main>
