<!--<html layout:decorate="~{layout}">-->
<!--<div layout:fragment="content" class="container my-3">-->
<!--    <div class="my-3 border-bottom">-->
<!--        <div>-->
<!--            <h4>회원가입</h4>-->
<!--        </div>-->
<!--    </div>-->
<!--    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">-->
<!--        <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
<!--        <div class="mb-3">-->
<!--            <label for="username" class="form-label">사용자ID</label>-->
<!--            <input type="text" th:field="*{username}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="password1" class="form-label">비밀번호</label>-->
<!--            <input type="password" th:field="*{password1}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="password2" class="form-label">비밀번호 확인</label>-->
<!--            <input type="password" th:field="*{password2}" class="form-control">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="email" class="form-label">이메일</label>-->
<!--            <input type="email" th:field="*{email}" class="form-control">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">회원가입</button>-->
<!--    </form>-->
<!--</div>-->
<!--</html>-->
<!--폰트어썸 아이콘-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->
<!--데이지 UI-->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
<!--테일윈드-->
<script src="https://cdn.tailwindcss.com"></script>

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 th:href="@{https://github.com/PNU-2024-07-TEAM2}" style="display: flex; justify-content: center;" target="_blank">
        <img th:src="@{/images/ourapp.png}" alt="My advertisement" width="65%">
    </h1>

<main class="flex-grow flex items-center justify-center">

    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="POST" class="w-full max-w-md grid grid-cols-1 gap-4"
          onsubmit="submitLoginForm(this); return false;">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">아아디</span>
            </div>
            <input name="username" th:field="*{username}" type="text" placeholder="아이디" class="input input-bordered w-full"/>
        </label>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">비밀번호</span>
            </div>
            <input name="password1" th:field="*{password1}" type="password" placeholder="비밀번호" class="input input-bordered w-full"/>
        </label>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">비밀번호 확인</span>
            </div>
            <input name="password2" th:field="*{password2}" type="password" placeholder="비밀번호 확인" class="input input-bordered w-full"/>
        </label>

        <label class="form-control w-full">
            <div class="label">
                <span class="label-text">이메일</span>
            </div>
            <input name="email" th:field="*{email}" type="email" placeholder="이메일" class="input input-bordered w-full"/>
        </label>

        <div>
            <button type="submit" class="btn bg-black text-white w-full">가입하기</button>
        </div>
        <div>
            <a href="/" class="btn bg-gray-400 text-white w-full">돌아가기</a>
        </div>
    </form>
</main>
</div>